<head>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>

<body>
  <div>
    <div id="contact" class="py-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h3>Keep in Touch</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, illum.</p>
            <!-- <form action="https://formspree.io/your@email.com" method="POST"  > -->
              <form action="mailto:sherlynchance2312@gmail.com" method="post">
              <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-user-alt"></i>
                  </span>
                </div>
                <input type="text" name="name" id="name" class="form-control" placeholder="Name">
              </div>

              <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
              </div>

              <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                </div>
                <textarea name="message" id="message" class="form-control" rows="5" placeholder="Your Message"></textarea>
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
            </form>
          </div>
          <div class="col-lg-5">
            <h2>JSNHotels.com</h2>
            <br>
            <h3 style="text-align: right">Connect with Us</h3>
            <br>
            <p style="text-align:center; text-align: right;">
              <!--Facebook icon-->
              <a href="http://facebook.com/" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/YdvNzBsfTrqg9Cx9Tozh_Facebook-e1386022800280.png" style="height:50px; width:50px" /> </a>&nbsp; &nbsp; &nbsp;
              <!--Google+ icon-->
              <a href="http://plus.google.com" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/HdT6jbRJRhqyPu3BKhi7_google-Plus-e1386022876181.png" style="height:50px; width:50px" /> </a>&nbsp; &nbsp;&nbsp;
              <!--Twitter icon-->
              <a href="http://twitter.com/" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/3b3zdiavSf26SleQOaDd_twitter-e1386023015819.png" style="height:50px; width:50px" /> </a>&nbsp; &nbsp;&nbsp;
              <!--Linkedin icon-->
              <a href="http://linkedin.com" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/dJtLdIsbRAix3zQhvygP_linkedin_icon_dark_hover-5be7d72ca83a10c0c76c32d141b0b828.png" style="height:50px; width:50px" /> </a>
            </p>
            <h3 style="text-align: right">Our Location</h3>
            <br>
            <p style="text-align:center; text-align: right;">
              <a href="" target="_blank"><img alt="" src="https://png.pngtree.com/png_detail/20180930/home-png-clipart_389281.png" style="height:50px; width:50px" /> </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Footer -->
  <footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="font-weight-bold" style="color:black;">Abous JSNHotels.com</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae harum esse fugiat. Itaque, culpa?</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="font-weight-bold" style="color:black;"> Why JSNHotels.com?</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id excepturi hic.</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="JSNHotels.com"> JSNHotels.com</a>
    </div>
  </footer>

</body>