<div class="table_details">  
  <div class="tables container">
    <span class="title_table">USERS</span>
    <span class="search_table" >
      <form action="#">
        <input type="search" placeholder="Search">
      </form>
    </span>
  </div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>OPTION</th>
      </tr>
    </thead>
    <tbody>
      <!-- using for loop to display all users -->
      <tr *ngFor="let user of users">
        <td>{{user.id}} </td>
        <td>{{user.user_username}} </td>
        <td>{{user.email}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            
            <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
