<!-- <div id="page4">
  <div class="main">
    <div class="box">
        <article id="content">
          <div class="box1">
            <div class="wrapper">
              <div class="col2 pad">
                <h2><img src="images/title_marker1.jpg" alt="">Best Propositions of This Month</h2>
                <div class="wrapper line1">
                  <div class="col3">
                    <figure class="pad_bot3"><img src="../../../assets/img/sampleroom.jpg" alt=""></figure>
                    <p class="pad_bot1"><strong class="color3">Lorem ipsum dolor amet consectetur</strong></p>
                    <p>Adipisicing elito eiusmod tempor incididunt ut labore dolore magna.</p>
                    <ul class="list2">
                        <li><span>2</span>Rooms</li>
                      <li><span>4</span>Beds</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
    </div>
  </div>
</div> -->
<body>
<div class="row">
  <div class="col-sm-12" style="padding-right: 30px;">
    <section>
      <div class="card">
        <div class="row py-4">
  
          <div class="col-md-4">
                <!-- <img src="public/image/public/uploads/pictures/{{Hotel.hotel_image}}" class="w-100"> -->
                <!-- <img [src] = 'public/image/public/uploads/pictures/${Hotel.hotel_image}'> -->
                <!-- <img src="{{Hotel.hotel_image}}"> -->
            <img src="../../../assets/img/semarang.jpg" class="w-100">
          </div>
  
          <div class="col-md-8 px-3">
            <div class="card-block px-3" >
              <h4 class="card-title">uggu</h4>
              <p class="card-text">hiih</p>
              <p class="card-text">fiyfy</p>
              <p>Facilities</p>
              <!-- <h4 class="card-text">{{Hotel.}}</h4> -->
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
  
        </div>
      </div>
    </section>
  </div>
</div>
</body>