<body>

  <div class="topnav">
    <!-- <a href="javascript:void(0);" class="icon" style="cor: white;"> -->
    <!-- </a>   -->
    <h3>JSNHotels</h3>
  </div>
      
  <section class="container">

    <div id="menu" class="menu animated delay-0.1s slideInLeft" >

      <!-- admin infos -->
      <ul class="profile">
        <li class="sub_profile username ">Admin</li>
        <li class="sub_profile usermail">admin@gmail.com</li>
      </ul>

      <!-- menu items here -->
      <ul class="menu_items">
        <li>
          <a routerLink="users">Users</a>              
        </li>
        <li>
          <a routerLink="hotels">Hotels</a>
        </li>
        <li>
          <a routerLink="reviews">Reviews</a>
        </li>
        <li>
          <a routerLink="rooms">Rooms</a>
        </li>
        <li>
          <a routerLink="">Room Type</a>
        </li>
        <li>
          <a routerLink="">Facilities</a>
        </li>
      </ul>

      <ul class="footer">
        <li>JSNHotels &copy;</li>
        <li><a href="#">Privacy</a> & <a href="#">Terms</a></li>
      </ul>

    </div>


    <div class="main">
      <div class="info">

        <div class="infos">      
          <ul>
            <li style="font-size: 30px; text-align: center; padding-top: 25px">
              <a routerLink="users">Users</a>
            </li>
          </ul>    
        </div>

        <div class="infos">
          <ul>
            <li style="font-size: 30px; text-align: center; padding-top: 25px">
              <a routerLink="hotels">Hotels</a>
            </li>
          </ul>  
        </div>

        <div class="infos">
          <ul>
            <li style="font-size: 30px; text-align: center; padding-top: 25px">
              <a routerLink="reviews">Reviews</a>
            </li>
          </ul>  
        </div>
      
        <div class="infos" style="margin-top: 20px">
          <ul>
            <li style="font-size: 30px; text-align: center; padding-top: 25px">
              <a routerLink="rooms" >Rooms</a>
            </li>
          </ul>  
        </div>

        <div class="infos" style="margin-top: 20px">
          <ul>
            <li style="font-size: 30px; text-align: center">
              <a routerLink="room-types" >Room Types</a>
            </li>
          </ul>  
        </div>

        <div class="infos" style="margin-top: 20px">
          <ul>
            <li style="font-size: 30px; text-align: center; padding-top: 25px">
              <a routerLink="facilities">Facilities</a>
            </li>
          </ul>  
        </div>

      </div>
    </div>

  </section>
</body>