<div class="table_details">  
  <div class="tables container">
    <span class="title_table">ROOMS</span>
  </div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Hotel ID</th>
        <th>Room Type ID</th>
        <th>Room Description</th>
        <th>Room Image</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let Rooms of Rooms">
        <td>{{Rooms.id}} </td>
        <td>{{Rooms.hotel_id}}</td>
        <td>{{Rooms.room_type_id}}</td>
        <td>{{Rooms.room_description}}</td>
        <td><img [src]="Rooms.image" alt="room image"></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success" (click)="editRoom(Rooms)">Update</button>
            <button (click)="deleteRoom(Rooms.id)" type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  
   <form [formGroup]="roomForm" (submit)="onAddSubmit()" id="login-form" class="form">

    <h3 class="text-center">Update/Add New Room</h3>

    <div class="form-group">
      <label for="room_image">Image</label>
      <input type="file" name="room_image" class="form-control" #imageFile [ngClass]="{ 'is-invalid': submitted && f.room_image.errors }" />
      <div *ngIf="submitted && f.room_image.errors" class="invalid-feedback">
        <div *ngIf="f.room_image.errors.required">Image is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="room_description">Room Description</label>
      <input type="text" formControlName="room_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.room_description.errors }" />
      <div *ngIf="submitted && f.room_description.errors" class="invalid-feedback">
        <div *ngIf="f.room_description.errors.required">Room Description is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_id">Hotel ID Number</label>
      <input type="text" formControlName="hotel_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_id.errors }" />
      <div *ngIf="submitted && f.hotel_id.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_id.errors.required">Hotel ID number is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="room_type_id">Room type ID number</label>
      <input type="text" formControlName="room_type_id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.room_type_id.errors }" />
      <div *ngIf="submitted && f.room_type_id.errors" class="invalid-feedback">
        <div *ngIf="f.room_type_id.errors.required">Room type ID is required</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">SUBMIT</button>
      <a routerLink="/admin/rooms" class="btn btn-link">Cancel</a>
    </div>

  </form> 
 
</div>

  