<div class="table_details">  
  <div class="tables container">
    <span class="title_table">ROOMS</span>
    <span class="search_table" >
      <form action="#">
        <input type="search" placeholder="Search">
      </form>
    </span>
  </div>

<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Hotel ID</th>
        <th>Room Type ID</th>
        <th>Room Description</th>
        <th>Room Image</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let Rooms of Rooms">
        <td>{{Rooms.id}} </td>
        <td>{{Rooms.hotel_id}}</td>
        <td>{{Rooms.room_type_id}}</td>
        <td>{{Rooms.room_description}}</td>
        <td><img [src]="Rooms.room_image" alt="room image"></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-success">Update</button>
            <button (click)="deleteRoom(Rooms.id)" type="button" class="btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

    
    <!--Add New Hotel-->

  <!-- <form [formGroup]="hotelForm" (submit)="onAddSubmit()" id="login-form" class="form">

    <h3 class="text-center">Register New Hotel</h3>

    <div class="form-group">
      <label for="hotel_name">Hotel Name</label>
      <input type="text" formControlName="hotel_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_name.errors }" />
      <div *ngIf="submitted && f.hotel_name.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_name.errors.required">Hotel Name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_address">Hotel Address</label>
      <input type="text" formControlName="hotel_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_address.errors }" />
      <div *ngIf="submitted && f.hotel_address.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_Address.errors.required">Hotel address is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_phoneno">Hotel Phone Number</label>
      <input type="text" formControlName="hotel_phoneno" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_phoneno.errors }" />
      <div *ngIf="submitted && f.hotel_phoneno.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_phoneno.errors.required">Hotel Phone number is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_postal">Hotel Postal</label>
      <input type="text" formControlName="hotel_postal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_postal.errors }" />
      <div *ngIf="submitted && f.hotel_postal.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_postal.errors.required">Hotel Postal is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_city">Hotel City</label>
      <input type="text" formControlName="hotel_city" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_city.errors }" />
      <div *ngIf="submitted && f.hotel_city.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_city.errors.required">City name is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_ratings">Hotel Ratings</label>
      <input type="text" formControlName="hotel_ratings" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hotel_ratings.errors }" />
      <div *ngIf="submitted && f.hotel_ratings.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_ratings.errors.required">Hotel Rating is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="hotel_image">Image</label>
      <input type="file" name="hotel_image" class="form-control" #imageFile [ngClass]="{ 'is-invalid': submitted && f.hotel_image.errors }" />
      <div *ngIf="submitted && f.hotel_image.errors" class="invalid-feedback">
        <div *ngIf="f.hotel_image.errors.required">Image is required</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">ADD</button>
      <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a routerLink="/admin/hotels" class="btn btn-link">Cancel</a>
    </div>

  </form> -->
</div>

  